<FilesMatch "(?i)\.(htaccess|htpasswd|ini|phps|log|bak|txt|php2|php3|php4|php5|pht|php6|php7|phtml|phtm|shtm|shtml|phar)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?zkHttpRequest=$1 [QSA,L]
</IfModule>


